<app-header></app-header>
<div *ngIf="notFound === true" class="notFound" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
 <h1 style="text-align: center;"> error 404 not found :'(</h1>
  </div>
  <div class="container-fluid page-container">
    <div  *ngFor="let slice of this.prismicData" >
      <div  [ngSwitch]="slice.type">     
        <app-carousel *ngSwitchCase="'carousel'" [slice]="slice"></app-carousel>
        <app-cards-small-group *ngSwitchCase="'cards-group-small'" [slice]="slice"></app-cards-small-group>
        <app-cards-medium-group *ngSwitchCase="'cards-group-medium'" [slice]="slice"></app-cards-medium-group>
       </div>
    </div>
  </div>
  <app-footer></app-footer>

