<app-header></app-header>

<div class="container-fluid container-1">
  <div class="isSHidden col-xs-6 col-md-3" style="margin: 0px;">
    <div class="card bg-dark text-white">
      <img src="../assets/img/macbook.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-5" style="margin: 5px;">
    <div class="card bg-dark text-white">
      <img src="../assets/img/macbook.jpg" style="height: 280px;" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
  <div class="isSHidden col-xs-6 col-md-3" style="margin: 0px;">
    <div class="card bg-dark text-white">
      <img src="../assets/img/macbook.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
  <!--  <div class="counter">-->
  <!--   12 : 21 : 54-->
  <!--    <button style="margin-top: 30px;" (click)="plus()">change</button>-->
  <!--  </div>-->
</div>


<div class="container-fluid container-2">


  <div>
    <div *ngIf="PrismicData">
      cards : {{ PrismicData[0].data }}
      <div>
        <div>
          object :
        </div>

      </div>
    </div>
  </div>

  <p style="text-align: center;">Do everything comfortably from home with My Sunrise</p>

  <div class="row" style="width: 100%; display: flex; justify-content: center;">
    <div class="col-6 col-md-2">
      <div class="card container-2-card">
        <img src="../assets/img/desktop-red.png" style="margin-top: 15px; height: 80px; width: 80px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">My Sunrise Online</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card container-2-card">
        <img src="../assets/img/desktop-red.png" style="margin-top: 15px; height: 80px; width: 80px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">My Sunrise products</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="card container-2-card">
        <img src="../assets/img/desktop-red.png" style="margin-top: 15px; height: 80px; width: 80px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">My bills</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="card container-2-card">
        <img src="../assets/img/desktop-red.png" style="margin-top: 15px; height: 80px; width: 80px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Help and support</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="card container-2-card card-app">
        <img src="../assets/img/desktop-red.png" style="margin-top: 15px; height: 80px; width: 80px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">My Sunrise App</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-3">
  <p style="text-align: center;">Welcome to Sunrise</p>
  <div class="row">
    <div class="col-12 col-md-2 offers-card">
      <div style="border: none;" class="card bg-dark text-white ">
        <img src="..." class="card-img bg-primary" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Our offers</h5>
          <p class="card-text">See our latest deal and benefit from discount for suscriptions...</p>
          <button type="button" class="btn btn-light btn-lg">Discover</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 offers-card">
      <div style="border: none;" class="card bg-dark text-white ">
        <img src="..." class="card-img bg-secondary" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Clever çobile plans with no minimum terms.</p>
          <button type="button" class="btn btn-light btn-lg">Discover</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 offers-card">
      <div style="border: none;" class="card bg-dark text-white ">
        <img src="..." class="card-img bg-success" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Internet & TV</h5>
          <p class="card-text">The perfect combination for every home.</p>
          <button type="button" class="btn btn-light btn-lg">Discover</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 offers-card">
      <div style="border: none;" class="card bg-dark text-white ">
        <img src="..." class="card-img bg-danger" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Internet and go</h5>
          <p class="card-text">Unlimited surfing with a smartwatch, tablet or hotspot.</p>
          <button type="button" class="btn btn-light btn-lg">Discover</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 offers-card">
      <div style="border: none;" class="card bg-dark text-white ">
        <img src="..." class="card-img bg-warning" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">For all under 30</h5>
          <p class="card-text">Check it out great Young deals like 50% discount SBB haltbdax.</p>
          <button type="button" class="btn btn-light btn-lg">Discover</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-4">
  <div class="mobile-row">
    <p style="text-align: center;">Discover world</p>
    <div class="row ">
      <div class="discover-world-card col-12">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="discover-world-card col-12">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="discover-world-card col-12">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-row">
    <p style="text-align: center;">Discover world</p>
    <div class="row ">
      <div class="discover-world-card col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="discover-world-card col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="discover-world-card col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

