<div *ngIf="notFound === true" class="notFound">
  error 404 not found :'(
  </div>
  <app-header></app-header>
  <div class="container" *ngFor="let slice of this.prismicData">
    <div  [ngSwitch]="slice.type">     
      <app-carousel *ngSwitchCase="'carousel'" [slice]="slice"></app-carousel>
      <app-cards-small-group *ngSwitchCase="'cards-group-small'" [slice]="slice"></app-cards-small-group>
      <app-cards-medium-group *ngSwitchCase="'cards-group-medium'" [slice]="slice"></app-cards-medium-group>
     </div>
  </div>
  <app-footer></app-footer>

