<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<div class="container-fluid bigImgContainer">
  <div class="card mb-4" style="max-width: 640px;height: 300px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../assets/img/macbook.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" style="max-width: 840px;height: 350px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../assets/img/macbook.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" style="max-width: 640px;height: 300px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../assets/img/macbook.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="counter">
    12 : 23 : 01
  </div>
</div>
<div class="container-fluid pageContainer">
  <p>Do everything comfortable from home with My Sunrise</p>
  <div class="smallImgContainer">
    <div class="card" style="width: 16rem; display: flex; justify-content: center; align-items: center; margin: 10px;">
      <img src="../assets/img/desktop-red.png" style="height: 80px; width: 80px; margin-top: 15px;" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">My Sunrise online</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; display: flex; justify-content: center; align-items: center;margin: 10px;">
      <img src="../assets/img/desktop-red.png" style="height: 80px; width: 80px;margin-top: 15px;" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">My Sunrise App</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; display: flex; justify-content: center; align-items: center;margin: 10px;">
      <img src="../assets/img/desktop-red.png" style="height: 80px; width: 80px; margin-top: 15px;" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">My prducts</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; display: flex; justify-content: center; align-items: center;margin: 10px;">
      <img src="../assets/img/desktop-red.png" style="height: 80px; width: 80px; margin-top: 15px;" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">My bills</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; display: flex; justify-content: center; align-items: center;margin: 10px;">
      <img src="../assets/img/desktop-red.png" style="height: 80px; width: 80px; margin-top: 15px;" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Help and support</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pageContainer">
  <p>Welcome to Sunrise</p>
  <div class="offersContainer">
    <div class="card" style="width: 17rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Our offers</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 17rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mobiles</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 17rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Internet & TV</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 17rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Internet on the go</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 17rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">For all under 30</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pageContainer">
  <p>Welcome to Sunrise</p>
  <div class="discoverContainer">
    <div class="card" style="width: 18rem;">
      <img src="../assets/img/macbook.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../assets/img/macbook.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../assets/img/macbook.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


<router-outlet></router-outlet>
